SERVER_IP=192.168.10.2
ROUTER_TYPE=mikrotik
MIKROTIK_HOST=192.168.88.1
MIKROTIK_USER=admin
MIKROTIK_PASSWORD=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
BUSINESS_PHONE=+254116465399
BUSINESS_EMAIL=
MAX_DEVICES_PER_SESSION=1
